html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.content-container {
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width: 100%;
    font-family: 'Inter';
}

.wrapper {
    height:100%;
    width: 100%;
    position: relative;
}

.wrapper-white {
    background-color: rgba(255,255,255,.8);
    height:80vh;
    width: 960px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top:50%;
}

.front-page {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:300px;
    display: flex;
    flex-direction: column;
}

.page-logo {
    margin-left: auto;
    margin-right: auto;
}

.button-long {
    background-color: gray;
    border:none;
    margin-bottom: 10px;
    height:50px;
    border-radius: 20px;
    font-weight: 500;
    font-family: 'Inter';
    font-size: 15px;
    color:white;
    transition-duration: 200ms;
    cursor: pointer;
}

.button-long:hover {
    transform: scale(1.05);
    transition-duration: 200ms;
}

.buttons {
    flex-direction: row;
    align-items: center;
}

.button-short {
    width: 49%;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 15px;
    color:white;
    background-color: rgba(20, 20, 20, 1);
    transition-duration: 200ms;
    cursor: pointer;
}

.button-short:hover {
    transform: scale(1.05);
    transition-duration: 200ms;
}

.button-text {
    margin-top: 5px;
}

.sign-in-img {
    width: 30px;
    border-radius: 20px;
    padding: 5px;
}

#form-box {
    display: none;
    height: 100%;
    width:100%;
    background-color: white;
    position: absolute;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    transform: translate(-50%,-50%);
    width:900px;
}

.name-box {
    display: flex;
    flex-direction: row;
}

.name-box  input {
    width: 100%;
}

.name-text {
    width:50%;
    padding-right: 10px;
    padding-left: 10px;
}

.cuisine-box {
    display: flex;
    flex-direction: row;
}

.cuisine-text {
    width:33%;
    padding-right: 10px;
    padding-left: 10px;
}

.cuisine-box  input {
    width: 100%;
}

.submit-button {
    width: 400px;
    background-color: green;
    border:none;
    margin-bottom: 10px;
    height:50px;
    border-radius: 20px;
    font-weight: 500;
    font-family: 'Inter';
    font-size: 15px;
    color:white;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 200ms;
    cursor: pointer;
}

.submit-button:hover {
    transform: scale(1.05);
    transition-duration: 200ms;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-evenly;
    bottom:0;
    margin: 10px 0;
    
}

#results {
    position: absolute;
    display: none;
    height:100%;
    width:100%;
    z-index: 3;
    background-color: white;
    text-align: center;
}

.results-container {
    position: absolute;  
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#location {

}

#map {
    width:80vw;
    margin-right: auto;
    margin-left: auto;
    height: 40vh;
    margin-top:20px;
    border-radius: 20px;
}

.match-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.person-card {
    align-items: center;
    width: 200px;
    height:200px;
    border-radius: 20px;
    background-color: #FF9F0F;
    color: white;
    margin:20px;

}

.person-text {
    display: inline-block;
  vertical-align: middle;
  line-height: 30px;
}